html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  padding: 0 1em;
  text-align: left;
  width: 100%;
  bottom: 20px;
}

p {
  position: absolute;
  font-style: italic;
  transform: translateX(-50%);
  width: 660px;
  left: 48%;
  font-size: 2rem;
  bottom: .5em;
}

title {
  position: absolute;
  transform: translateX(-50%);
  width: 650px;
  left: 48%;
  bottom: 4em;
  margin-bottom: 30px;
}

h2 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  display: inline;
}
