html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.banner {
  position: relative;
  font-size: 1.5rem;
  max-height: 500px;
  overflow: hidden;
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  top: 2em;
  text-align: left;
  width: 100%;
}

p {
  position: absolute;
  font-style: italic;
  transform: translateX(-50%);
  width: 600px;
  left: 40%;
}

title {
  position: absolute;
  transform: translateX(-50%);
  width: 600px;
  left: 40%;
}
